@charset "utf-8";
/* CSS Document */

/* Move down content because we have a fixed navbar that is 50px tall - jumbotron example */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/

/* odd items 1,3,5,7,... */
table tr.odd th,
.odd {
    /*background: #E5E5E5;*/
    /*background: #F5F5F5;*/
    background: #FFFFFF;
}

/* even items 2,4,6,8,... */
table tr.even th,
.even {
    /*background: #D5D5D5;*/
    /* background: #E5E5E5; */
    /*background: #F0F0F0;*/
    /*background: #EEEEEE;*/
    background: #f9f9f9;
}

/* marked table rows */
table tr.marked th,
table tr.marked {
    background:   #FFCC99;
    color:   #000000;
}

