/*whole page styles */

html,body{
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
	color:#4b4842;
	line-height:1;
}


h1 { 
   
    margin:0.5em 0;
}

h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}

/* header */
#header {
	background:url(../images/header_bg.jpg) no-repeat scroll center top white !important;
	background-size:100% 100% !important;
	height:100px;
	border:none;
	z-index:1;
}

#header-inner {
	height:95px;
	background:url(../images/rhdlogo.png) no-repeat scroll 0 3px transparent;
	margin:0 auto;
	overflow:hidden;
	position: relative;
	width: 80%;
}

#header-inner .banner{
	color:#000;
	font-size:24px;
	font-weight:normal;
	padding-top:65px;
	float: right;
	font-family: 'PTSansRegular', arial, serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#header-inner-coursework .badge a{
	height:80px;	
	width:auto;	
	position: absolute;
	dipaly: block;
	left:0;
	top: 0;
}

.header-inner-coursework{
	height:95px;
	background:url(../images/logo-flinders_portrait.png) no-repeat 0 scroll transparent;
	margin:0 auto;
	overflow:hidden;
	position: relative;
	width: 80%;
}

.banner-text{
	float: left;
    margin-left: 65px;
	margin-top:10px;
}
.header-inner-coursework .banner{
	color:#000;
	font-size:24px;
	font-weight:normal;
	padding-top:65px;
	float: right;
	font-family: 'PTSansRegular', arial, serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


#header-inner .badge a{
	height:80px;	
	width:auto;	
	position: absolute;
	dipaly: block;
	left:0;
	top: 0;
}

.wrap{
	padding:0;
	margin:0;
}

.panel-li
{
	padding: 10px 10px;
}

/*#topbar {
	background:none;
	position:absolute;
	left:50%;
	margin-left:-490px;
	text-align:right;
	z-index:2;
	height:26px;
}
#topbar-wrap
{	width:100%;
	position: relative;
	height:26px;
	margin: 0 auto;
}
#topbar-inner
{
	width:100%;
	position: relative;
	height:26px;
	margin: 0 auto;
	float:none;
}

#topmenu {
	position:absolute;
	color:#777;
	right:0;
	padding:9px 0 0;
	text-transform:uppercase;
	top:0px;
	line-height:26px;
	font-size:10px;
	
}

#topmenu .disabled {
	color: rgb(90, 81, 81);
}

#topmenu a, #topmenu span {
	color:#000;
}

#topmenu a, #topmenu span {
	color: #000;
	text-decoration: none;
	margin-left: 1px;
	padding: 9px 6px;
}

#topmenu span i {
	margin-top: -1px;
	padding-right: 2px;
}



#topmenu a:hover, #topmenu a:focus {
	color:#A94807;
	text-decoration:none;
}*/




.navbar
{
	padding: 0 0;
	/*margin-bottom: 10px;*/
	background-image: none !important;
	top: 0px;
	width: 100%;
	overflow:visible;
	border:none;
	border-radius: 0;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
	background: rgba(0, 0, 0, 0.7) !important;
	line-height: 0px;
	min-height:40px;
}
.navbar .container {
    position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
	width:80%;
    min-height:100%; /* real browsers */
	padding:0 0;
}

.navbar .brand {
	display: block;
	float: left;
	padding-top:10px;
	font-size: 20px;
	font-weight: 200;
	color: #777;
	/*text-shadow: 0 1px 0 #fff;*/
	line-height: 20px;
	color: #fff;
	font-size: 13px;
	width:100%;
	
}
.navbar-header
{
	padding: 0 !important;
	margin:0 !important;
	/*padding-left: 40px;
	padding-right: 40px;*/
}

.navbar-header .nav
{
	padding: 0 0;
	margin:0 0;
	width:100%;
}

.navbar-inner {
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	line-height: 0px;
	background: rgba(0, 0, 0, 0.7) !important;
	background-image: none;
	filter: none;
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	filter: none;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
/*****END Header*********/



.control-group {
    display: inline-block;
    vertical-align: top;
}

/*footer*/
div#footer {
    position:absolute;
    width:100%;
    bottom:0; /* stick to bottom */
}

div#footer p {
    padding:1em;
    margin:0;
}

/*cotainer*/
#page-content
{
	min-height: 600px;
}
	
	
	.form-horizontal .form-group
	{
		margin-left: 0px;
	}
	.form-horizontal .control-label
	{
		font-weight: 400;
		text-align:left;
	}
	
	.ul_details
	{
		margin-top:5px;
		
	}
	.ul_drafts
	{
		margin-top:5px;
		list-style-position: inside;
		
	}
	.li_details
	{
		padding:2px 2px;
		line-height: 30px;
	}
	
	.li_drafts
	{
		padding:2px 2px;
		line-height: 30px;
	}
	
	.status_table{
		width:80%;
	}
	
	
	.submissionForm select 
	{
		width:100%;
	}
	
	.block{
		padding: 8px;
		border-radius: 8px;
		border: 1px solid #E1E1E1;
		margin-bottom: 10px;
		background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
		background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
		background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
		background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
		background-repeat: repeat-x;
		border-color: #dcdcdc;
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
	}
	
	.thesis_title_ul
	{
		list-style-type: none;
		margin: 0 0;
	}
	
	
	#button-bar {
		width: auto;
		height: auto;
		margin-right: 1px;
		right: 5px;
		width: 400px;
		height: 20px;
		position: absolute;
		top: 0;
		right: 17px;
		text-align: right;
		z-index: 10;
	}

 /* #002f60;  Flinders dark blue */
/* #ffd300;  Flinders gold */
/* #ccc;  Flinders grey */
/* #86b29c;  Flinders green */
/* #ffd300;  Flinders gold */
/* #000;  Flinders black */
/* #eb6e08;  Flinders red */
/* #b75b09;   Flinders link color */
/* #474747;  charcoal, similar to Flinders home page */
/* #6c7378;  EQ button color eg Help */


.displayNodes ul {
 list-style: disc;
 font-size: 12px;
 margin-left: 30px;
 line-height: 1.5;
}

sub{
 vertical-align: sub !important;
}
sup{
 vertical-align: super !important;
}

#body-inner {
	padding:0;
	min-height:0;
}

#page-content .button_group{
	margin-bottom: 20px;
	
}
#page-content .row
{
	margin: 0 !important;
	padding: 0 !important;
}



.logininfo, .logininfo a {
	color: #fff !important;
}








/***footer***/
.hr_line
{
	margin-top: 10px;
}
.text-muted
{
	line-height: 60px;
}

	
/**********loading spinner***************/
	.spinner-wave {
		margin: 0 auto;
		width: 100px;
		height: 100px;
		text-align: center;
		
	}
	.spinner-wave > div {
		background-color: #333;
		height: 50%;
		width: 6px;
		display: inline-block;
		-webkit-animation: wave 1.2s infinite ease-in-out;
		animation: wave 1.2s infinite ease-in-out;
	}
	
	.spinner-wave div:nth-child(2) {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	
	.spinner-wave div:nth-child(3) {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
	
	.spinner-wave div:nth-child(4) {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
	
	.spinner-wave div:nth-child(5) {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
	@-webkit-keyframes wave {
		0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
		20% { -webkit-transform: scaleY(1.0) }
	}
	
	@keyframes wave {
		0%, 40%, 100% { transform: scaleY(0.4); }
		20% { transform: scaleY(1.0); }
	}

